.navbar.navbar-inverse{style: "border-radius: 0px; background-color: #3E35A6"}
  %a.navbar-brand.pull-left{href: "#", style: "margin-left: 5%;color:white; text-decoration:none"}
    Flatterbook
  %a.globe
    = image_tag "globe-icon.png", size: "22x22", style: "margin-top: 0.92em"
  %a.notification-count
    1
  .sound-icon2.pull-right.hidden-sm.hidden-xs
    = image_tag "nosoundicon.png", size: "25x25"

.container
  .row.gif-container{style: "display:none"}
    .col-5
      = image_tag "devicegif.gif", class: "animated-gif"
    .col-7.notifications-container{style: "padding: 0; overflow: auto"}
    
      
      

.row
  .jumbotron
    .container
      .jumbotron-content
        %h1
          Get Validated!
        %p
          enter a status and let your ego fill to maximum capacity
%span.col-sm-2.hidden-xs.hidden-sm
%span.col-sm-6.col-sm-offset-2
  .row{style: "margin-top: 0.1em"}
    .col-12
      = form_for :flattery, action: "post",remote: true do |f|
        .input-group
          = f.text_field :status, placeholder: "status", class: "form-control", id: "status-input"
          %span.input-group-btn
            %button.btn.btn-default.post-button
              post


  .row
    .status-box.col-12
      .col-3.egohead
        = image_tag "egopiccopy.png", height: "70"
      .col-9.status-text-container
        %span.commenter-name{ style: "font-weight: 500"}
          Your Ego
      
      
        %span.status-text
  .row
    .like-box{style: "display: none"}
      %span{style: "margin-left: 1.2em"}
        = image_tag "likebuttoncopy.png"
      
      %span.count
        1
      %span
        people like this
  .commenters-container
    - count = 0
    - @commenters.each do |i|
      .row.col-md-6{style: "display: none"}
        .col-12.comment-box
          .col-2
            = image_tag i[0], height: "40", class: "commenter-image"
          .col-10
            %span.commenter-name{style: "font-weight: 500"}
              = i[1]
            %span
              = @randomComments[count]
      - count = count + 1
    .more-flatter{style: "display: none"}
      %a.btn.btn-primary.btn-lg(data-toggle= "modal" href= "#shareModal")
        More Flattery?
    

-# Modal
.modal.fade#shareModal(tabindex= '-1' role= 'dialog' aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(data-dismiss= "modal" aria-hidden="true")
          x
        %h4.modal-title
          Share Flatterbook?
      .modal-body
        .row
          .container
            %span.share
              = image_tag 'twitter.png', size: "100", class: "twitter-share"
              = custom_tweet_button('Tweet', {:via => "lunarmayor", text:"all the internet validation you deserve", related: "lunarmayor"}, {:class => "tweet-button-modal tweet-button"})
            %span.share
              = image_tag 'fb.png', size: "100", class: "facebook-share"
      .modal-footer
        %button.btn.btn-default(type= 'button' data-dismiss= 'modal')
          Close
        = link_to "No Thanks", root_path, class: 'btn btn-primary'
 
.navbar.navbar-fixed-bottom
  %ul.nav.navbar-nav
    
    %li.pull-left
      = custom_tweet_button('Tweet', {:via => "lunarmayor", text:"all the internet validation you deserve", related: "lunarmayor"}, {:class => "tweet-button"})

    %li
      %a.pull-right.lunarmayor{ href: "https://twitter.com/lunarmayor", style: "color:white; font-size: 14px; opacity: 1; font-weight: none"}
        @lunarmayor
  
    .sound-icon
      = image_tag "nosoundicon.png", size: "25x25"


